<footer class="bg-primary text-white text-center text-lg-start mt-5 bg-dark">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Apartment app info:</h5>
          <p>
            Project created to improve the follow skills: NodeJS, express, MongoDB and Handlebars but with the follows <a href='https://github.com/leangasoftware/node-interview' target='_blank'> requirements</a>
          </p>
      </div>
      <!--Grid column-->

    


      <!--Grid column-->
      <div class="col-lg-6 col-12 col-md-6 mb-4 mb-md-0 text-center">
       <div class="devFooter ">
            <div class="col-6">
              <p>Development tools:</p>
            </div>
          <div class="row">
            <div class= 'col-6'>
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                
              </ul>
            </div>
            <div class= 'col-6'>
              <ul>
              <li>Bootstrap</li>
                <li>NodeJS</li>
                <li>MongoDB</li>
                
              </ul>
            </div>
          </div>
          
          </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright
    <a class="text-white" href="https://mdbootstrap.com/"></a>
  </div>
  <!-- Copyright -->
</footer>